<header class="header">
 <p> <img src="{{ site.url }}/images/avatar.png" width=60px/> Huy Phan <span style="font-size:15pt;font-weight:normal"> Ph.D in Creative Media </span> </p>
 <div style="font-size:12pt;font-weight:normal;line-height:75%;" >
	 <p> Department of Computer Science   <img src="{{ site.url }}/images/bath.png" width=150px/>   H.Q.Phan AT bath.ac.uk </p>
	 <p style="font-size:8pt;"> github.com/fqhuy - bitbucket.org/fqhuy - angel.co/phan-huy - goo.gl/vmjVSY (Google Scholar) - linkedin.com/in/phan-huy-3482b356 </p>
 </div> 
</header>
